.panda-bg-info {
    background: #FCEAE6;
}

.bg-color {
    background: #FCEAE6;
}

.btn-warn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.bg-bag {
    background: #da70d6;
}

.categories img {
    width: 100px;
}